@charset "utf-8";
@import "mymixin";
@import "fonts.css";

/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #fff;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #fff;

}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  //display: inline-block;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input[type="button"], input[type="submit"], button {
  cursor: pointer
}

form {
  padding: 0;
  margin: 0;
}

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul, li {
  list-style-type: none;
}

///////////////////

$colorbg: #2e64fe;



$colorbgTextBloc: #e6e6e6;

$colorCrumbs: #727272;
$colorCrumbsActiv: #222222;
$colorMainPhrase: #303945;

$colorAvtoMark: #424242;

$colorMainText: #8c8c8c;

.box-header-wrapper, .box-footer-wrappen {

  width: 100%;
  min-width: 250px; ///////// &&&
  min-height: 108px;

  z-index: 100;
  color: #fff;
}

.mainWrappen {
  padding: 0;
  margin: 0;
  min-width: 250px; ///////// &&&
  position: relative;
  overflow: hidden;
  min-height: 100%;
  color: #fff;
}

.HEADER_img {
  width: auto;
  min-width: 100%;
  //height: auto;
}

.sub-header__container {
  width: 100%;

}

.sub-header__nav {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  //text-align: justify;
  //border: 1px solid red;
  //background-color: $colorbg;

}

.sub-header__item {
  display: inline-block;
  float: left;
  margin: 0 auto;
  width: calc(100% / 6);
  //height: 30px;
  height: 100%;
  line-height: 2;
  overflow: hidden;
  background-color: $colorbg;
  border: 1px solid #000;

  a {

    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    //border: 1px solid #000;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.sub-header__bread {
  width: 100%;
  height: 20px;
  //border: 1px solid red;
  margin-top: 10px;
  font-size: 16px;
}

.b_crumbs {

  span {
    color: #000;
  }
}

.b_crumbs_item {
  font-size: 16px;
  color: $colorCrumbs;
}

.active_crumbs {
  color: $colorCrumbsActiv;
}

////////////////// HEADER END

main {
  width: 100%;
  margin-top: 10px;
}

.box-gbo {
  //border: 1px solid #000;
  width: 100%;
}

.box-gbo__mainPhrase {

  font-size: 26px;
  text-align: center;
  color: $colorMainPhrase;
  //font-family: proxima-bold;
}

.box-fullLogo {
  width: 100%;

}

.box-fullLogo__item {
  width: 100%;
  margin-top: 4%;
  text-align: center;

}

.box-avto {
  display: block;
  width: 100%;

  border: 1px solid #000;

}

.box-avto:hover .box-avto__mark {
  font-weight: bold;
}

.box-avto__image {

  display: inline-block;
  text-align: center;

  margin: 0 auto;
}

.box-avto__mark {

  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: $colorAvtoMark;
}

//////////////

.box-aboutGbo {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.box-aboutGbo__itemText {
  width: 100%;
  margin-top: 3%;
  border: 1px solid #000;
  color: $colorAvtoMark;

}

.box-aboutGbo__phrase {

  height: 30px;
  line-height: 1;

  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 2% 0;

}

.box-aboutGbo__mainText {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;

}

///////////////////// SLIDER 1 GBO

.box-sliderOne {
  //position: relative;
  width: 100%;
  margin-top: 3%;
  //overflow: hidden;
}

.box-sliderOne__items {
  width: 100%;
  height: 200px;
  background-size:cover;
}

.box-sliderOne__item {
  position: relative;
  width: 100%;
  max-height: 200px;      ////* подогнать под минимальную высоту фотки*/
  background-size:cover;  ////
  overflow: hidden;
}

///////////// FOOTER

.footerImg {
  width: 100%;
  margin-top: 5%;
}

//////////////// HTML_model

.box-avtoModdel__mainPhrase {
  font-size: 26px;
  text-align: center;
  color: $colorMainPhrase;
  //font-family: proxima-bold;
}

.box-avtoModdel {
  width: 100%;
  //border: 1px solid red;
}

.box-avtoModdel__link{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}


.box-avtoModdel__img {

  width: 300px;
  min-height: 200px;
  margin-top: 5%;
  //margin: 1% auto;
  background-color: $colorbgTextBloc;
  border: 1px solid black;

  //-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  //-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  //box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);

}

.box-avtoModdel__name {

  text-align: center;
  font-size: 16px;
  color: #000;
}

///////////////////////

.box-gboInfo {
  width: 100%;
  //border: 1px solid black;
}

.box-gboInfo_item {
  width: 100%;
  //height: 150px;
  margin-top: 2%;
  border: 1px solid #000;
}

.box-gboInfo_img {
  float: left;
  min-width: 200px;    /// подогнать под максимальную ширину размер фото
  padding: 0.5%;
  display: block;
  //border: 1px solid red;
}

.box-gboInfo__price {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 1%;

}

.prace-gbo__uah {

  padding: 0 2%;
  &:after {
    content: "\20B4";
  }
  &:before {
    content: "\2248 ";
  }

}

.prace-gbo__euro {
  padding: 0 2%;
  &:after {
    content: "\20AC";
  }
}

.box-gboInfo_text {
  //border: 1px solid red;
  display: block;
  //width: 10%;
  word-wrap: break-word;
  height: 100%;
  padding-right: 1%;


  //display: inline-block;
  font-size: 16px;
  color: #000;
}

////////

.box-navigationInfo {
  border: 1px solid black;
  width: 100%;
  min-height: 200px;
  margin-top: 1%;
  color: #000;

}

//////////////////// INDEX_offers

.box-offers {
  width: 100%;
}

.box-gbo__link:hover .box-gbo__offer-image {
  transform: scale(1.2);
  transition: transform 1.5s;
}

.box-gbo__offer {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin: 4% 0;
  //border-radius: 20px;
  //
  //-webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.75);
  //-moz-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.75);
  //box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.75);

  background-color: $colorbgTextBloc;
  border: 1px solid #000;
  overflow: hidden;

}

.box-gbo__offer-image {
  width: 100%;
  //border-radius: 20px;
  transform: scale(1);
  transition: transform 1.5s;
}

.box-gbo__offer-text {
  position: absolute;
  top: 15%;
  right: 4%;

  font-size: 3em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  //text-shadow: black 2px 2px 0,
  //black -2px -2px 0,
  //black -2px 2px 0,
  //black 2px -2px 0;

  padding: 2px;
  //border: 5px solid $colorbg;
  background: rgba(0,0,0, 0.5);

}


///////////////////  SLIDER OFFERS


.box-sliderOffers {
  width: 100%;
  margin-top: 3%;
}

.box-sliderOffers__items {
  width: 100%;
  height: 300px;
  background-size:cover;
}

.box-sliderOffers__item {
  position: relative;
  width: 100%;
  max-height: 200px;      ////* подогнать под минимальную высоту фотки*/
  background-size:cover;  ////
  overflow: hidden;
}


//////////////////// Index PORTFOLIO

.box-porfolio{
  width: 100%;
  //height: 1000px;
  //border: 1px solid #000;
}

.box-porfolioText{
  width: 100%;
  //border: 1px solid #000;
}

.box-porfolioText__phrase{
  width: 100%;
  margin: 2% 0;

  text-align: center;
  font-size: 23px;
  color: #000;
}

.box-porfolioText__textAbout{
  display: block;
  margin: 2%;
  font-size: 16px;
  color: $colorMainText;
  //background-color: $colorbgTextBloc;
}


.box-porfolioImg{
  width: 100%;
  border-radius: 20px;
}

.box-porfolioImg__image{
  width: 100%;
  margin: 1% 0;

  border-radius: 20px;
  height: auto;
  //
  //-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
  //-moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
  //box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
}