/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {



    .box-aboutGbo__mainText {
        padding: 0 10px;
    }

    .box-sliderOne__item {
        max-height: 150px;
    }

    .box-avtoModdel__img {
        margin: 1% auto;
    }
    .box-avtoModdel__linkFirst{

        margin-top: 5%;
    }


    .box-gbo__offer-text{
        font-size: 2em;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {


    .sub-header__item {
        border: 1px solid #000;
        width: 100%;

        padding: 0;
    }
    .sub-header__item a{
        width: 100%;

        padding: 0;
    }

    .box-aboutGbo__mainText {
        margin-top: 1%;
        padding: 0 5px;
    }
    .box-sliderOne__item {
        max-height: 100px;
    }


}
@media only screen and (max-width: 530px) {


    .box-sliderOne__item {
        max-height: 80px;
    }

    .box-aboutGbo__phrase{
        font-size: 1em;
    }

    .box-gbo__offer-text{
        font-size: 1.5em;
    }
}



/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {


    .box-sliderOne__item {
        max-height: 65px;
    }

    .box-aboutGbo__phrase{
        font-size: 0.9em;
    }

    .box-aboutGbo__mainText{
        font-size: 0.6em;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {


    .box-sliderOne__item {
        max-height: 55px;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}